src/main/mule/world-demp-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fe3ba29d-ae66-459b-9fe3-af81828b3895" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="5808eb15-007f-420c-9bd3-7d3c703638e8" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" port="8080"/>
	</http:request-config>
	<flow name="world-demp-apiFlow" doc:id="393ec465-5666-4efc-af59-eac1739a3877" >
		<http:listener doc:name="Listener" doc:id="6ab354a8-f36d-410e-a0da-e4994caf40f9" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="c0e282b5-2207-4691-a433-c1ff4bb09a62" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="a37de0a9-df55-473a-83b5-70646a44887c" message="Hello dfdfdf This is the end of the flow againnnnnnnnnnnntttttt !"/>
	</flow>
</mule>
